<span class="step">{{currentSlide}}</span><h1>{{name}}</h1>
<p>Hogan is a templating compiler based on Mustache. You can learn all about the templating language <a href="http://mustache.github.io/mustache.5.html" target="_blank">here</a>. Take a look at the Hogan website for more <a href="http://twitter.github.io/hogan.js/" target="_blank">documentation</a>. Here is a basic example. It's main use for us is going to be loading in HTML.</p>
<p>As a general rule, if you are writting some static HTML in JS, you are doing it wrong. Put that code in a fragment and use the templating engine to fill in the variables.</p>
<pre class="prettyprint lang-js">

//note we have Hogan in our base js bundle so  [ hogan ] is available globally

{{=<% %>=}}
// compile a template (Note {{name}} is a placeholder here)
var template = hogan.compile("{{name}} Rocks!");
 
var team = ['Tom', 'Brent', 'Jereme', 'Scott', 'Samar', 'Pete', 'Tina', 'Ryan', 'Kristen', 'Gabe', 'Chetana', 'Jason'];
 
team.map(function (employee) {
 
  // Render context to template
  return template.render({employee: employee });
 
});
 
// outputs "Follow: Tom Rocks! Brent Rocks! Jereme Rocks! Scott Rocks! Samar Rocks! Pete Rocks! Tina Rocks! Ryan Rocks! Kristen Rocks! Gabe Rocks! Chetana Rocks! Jason Rocks!"
console.log(team.join(' '));
</pre>
<p>Simple right?!?! Well guess what, it gets better. Astute readers may have already noticed the helper function in labelmaster.js called <code>loadFragment(url, data, key)</code>. This handy guy take a URL, loads the template/fragment specified, compiles and renders it for you. It then raises the event <code>'Fragment.Loaded.KEY'</code> passing back your template. This is what it looks like for those of you that missed it.</p>
<pre class="prettyprint lang-js">
	Labelmaster.loadFragment = function(url, data, key) {
		
		this.callCounter++;//showing singelton
		//logger.log("request to load :" + url);
	    
	    require(['text!' + url], function(frag){
	        var result = Hogan.compile(frag).render(data);

	        //publish event with amplify
	        amplify.publish("Fragment.Loaded." + key, result);
	    });
	};//end function
</pre>

