<style type="text/css">
    ul.frameworks strong{
        font-size:18px;
        margin-left:20px;
    }
    ul.frameworks li{
        font-size:16px;
        margin:5px;
        text-indent: -1.5em;
        margin-left: 1.5em;
    }
    
    ul.frameworks i{
        font-weight:200;
    }
</style>
<span class="step">{{currentSlide}}</span><h1>{{name}}</h1>
<p>We are using a really great set of libraries to make life easier. These are the officialy supported libraries, before you add anything else, be sure to get it approved!</p>
<ul class="list-unstyled frameworks">
    <li><strong>JQuery 1.9<strong><i>DOM Manipulation</i> <a href="//jquery.com/">[website]</a></li>
    <li><strong>JQuery Validation<strong><i>Interactive Validation client side</i> <a href="//jqueryvalidation.org//">[website]</a></li>
    <li><strong>Bootstrap<strong><i>CSS and JS UI elements like buttons, modals, etc from our friends at Twitter</i> <a href="getbootstrap.com/">[website]</a></li>
    <li><strong>Hogan<strong><i>Lightweight Templating Engine also from our friends at Twitter</i> <a href="//twitter.github.io/hogan.js/">[website]</a></li>
    <li><strong>Underscore<strong><i>Utility library that makes doing stuff really easy.</i> <a href="//underscorejs.org/">[website]</a></li>
    <li><strong>Amplify<strong><i>A Publish/Subscribe event library for creating event driven code</i> <a href="//amplifyjs.com/">[website]</a></li>
    <li><strong>Require<strong><i>An AMD Library. This lets us keep dependencies under control!</i> <a href="//requirejs.org/">[website]</a></li>
</ul>
<hr/>
<h3>We also have this great tools at our disposale</h3>
<ul class="list-unstyled frameworks">
    <li><strong>ESLint<strong><i>A pluggable Linting tool.</i> <a href="//eslint.org/docs/about/">[website]</a></li>
    <li><strong>Jasmine<strong><i>Javascript Unit Testing</i> <a href="//jasmine.github.io/">[website]</a></li>
</ul>
