<span class="step">{{currentSlide}}</span><h1>{{name}}</h1>
<p>From a Razor view, add the following to the @scripts section</p>
<pre class="prettyprint lang-js">
	&lt;script type="text/javascript"&gt;
        (function () {
            var View = null;
            
            //Take notice of this sytax
            require(['app/home/UsingRequire'], function (view) {
                View = view;
                _init.call(this);
            });

            function _init() {
                var view = new View(
                    {
                        clickable       : ".UsingRequire .clickable",
                        templateDisplay : ".UsingRequire .templateDisplay"
                    },
                    {
                        clickColor: ["#002244", "#69BE28", "#A5ACAF"]
                    }
                );
            }//end init
        })();
    </script>
</pre>
<p>Things you should notice:
<ol>
    <li>Self closing function. This keeps you from accidentally polluting the global namespace.</li>
    <li>The use of Require to load your script asynchronously.</li>
    <li>The first argument of a view will always be the DOM handles. This separates the DOM from the javascript module and address a major source of brittleness </li>
    <li>The second argument isan options argument. Which can be used to override DEFAULT OPTIONS defined on the class itself.</li>
</ol></p>