@{
    ViewBag.Title = "Home Page";
}
<br/>
<div class="jumbotron">
    <h1>Coding Standards</h1>
    <p class="lead">This will help you get up to speed. Please download the repository and feel free to inspect it yourself.</p>
    <p>The repo is on: <a href="https://bitbucket.org/labelmaster-ondemand/js-coding-standards"> Bitbucket.</a></p>
    
    <div class="row">
        <div class="col-md-4 text-center">
            @Html.ActionLink("Javascript", "UsingJavascript", "Home", new { @class = "btn btn-default" })
        </div>
        <div class="col-md-4 text-center">
            @Html.ActionLink("Mongo", "UsingMongo", "Home", new { @class = "btn btn-default" })
        </div>
        <div class="col-md-4 text-center">
            @Html.ActionLink("MVC", "UsingMVC", "Home", new { @class = "btn btn-default" })
        </div>
    </div>
</div>
