@{
    ViewBag.Title = "Using Require.js";
}
<div class="UsingJavascript">
    <h2>Javascript Standards</h2>

    <p>To get started, we will show you how to do to some common stuff</p>

    <ul class="list-unstyled"><li class="clickable btn btn-default">Click Me To Start Tutorial</li></ul>

    <div class="jumbotron templateDisplay">
        
    </div>
    <div class="row controls">
            <div class="col-sm-4 col-sm-offset-2"><button class="btn btn-default back">back</button></div>
            <div class="col-sm-4 col-sm-offset-2"><button class="btn btn-default forward">forward</button></div>
        </div>
</div>
@section scripts
{
    <script type="text/javascript" src="/scripts/lib/prettify/prettify.js"></script>
    <script type="text/javascript" src="/scripts/lib/prettify/run_prettify.js"></script>
    
    <script type="text/javascript">
        (function () {
            var View = null;
            
            //Take notice of this sytax
            require(['app/home/UsingJavascript'], function (view) {
                View = view;
                _init.call(this);
            });

            function _init() {
                var view = new View({
                        startButton: ".UsingJavascript .clickable",
                        templateDisplay: ".UsingJavascript .templateDisplay",
                        forwardButton: ".UsingJavascript button.forward",
                        backButton: ".UsingJavascript button.back"
                    },
                    {
                        clickColor: ["#002244", "#69BE28", "#A5ACAF"]
                    }
                );
            }//end init
        })();
    </script>
}

